page-membership {
    .scroll-content {
        background-color: #f5f5f5;
    }
    .prime-overlay {
        position: relative;
        height: 225px;
        width: 100%;
        margin-bottom: 0px;
        overflow: hidden;
        border-radius: 2px;
        img {
            height: 100%;
            width: 100%;
        }
        .prime-content {
            position: absolute;
            bottom: 0;
            color: #fff;
            z-index: 1;
            height: 100%;
            padding: 10px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.47);
            text-align: center;
        }
        .close {
            position: absolute;
            top: 0px;
            right: 8px;
            z-index: 10;
            padding: 0;
            height: auto;
            background-color: transparent;
            font-size: 20px;
            color: #fff;
        }
        .prime-btn {
            height: 3.5rem;
            font-size: 15px;
            color: #000000;
            background-color: #ffd80e;
        }
        ion-label {
            margin: 8px 8px 11px 0 !important;
            font-size: 22px !important;
            span {
                font-size: 14px;
            }
        }
       
        .buy-prime {
            .logo {
                width: 130px;
                height: 60px;
            }
            .newmoto {
                font-size: 13px;
                line-height: 19px;
                margin: 0 auto;
                color: #e6e6e6;
                font-weight: 100;
                margin-top: 5px;
            }
            .offers-wrap {
                margin-top: 15px;
            .offer {
                background-color: rgba(0, 0, 0, 0.49);
                display: inline-block;
                padding: 7px 20px;
                font-size: 13px !important;
                margin: 0 10px;
                border-radius: 42px;
                font-weight: 100;
            }
            .or {
                background-color: #f5f5f5;
                padding: 6px;
                color: #000;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 12px
            }
        }
        .grab-title {
            font-size: 15px;
            width: 70%;
            margin: 0 auto;
            margin-top: 14px;
            font-weight: 100;
            line-height: 20px;
            .price {
                background-color: #ffd80e;
                color: #000;
                padding: 0 4px;
                border-radius: 10px;
                font-size: 14px;
                margin-left: 5px;
                font-weight: 600;
            }
            .end-amnt {
                font-size: 12px;
                text-decoration: line-through;
            }
        }
        }
    }
    .section {
        padding: 16px;
        .mem-title {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 15px 10px;
                margin-bottom: 10px;
                border-radius: 4px;
                background-color: #fff;
                font-size: 16px;
                line-height: 18px;
                color: #000;
                font-weight: 400;
                font-weight: 400;
                display: flex;
                align-items: center;
                ion-icon {
                    font-size: 27px;
                    margin-right: 20px;
                    color: #2d626a;
                }
               
                div {
                    color: #02535b;
                    font-size: 16px;
                    font-weight: 500;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}