page-welcome {
    ion-content {
        background-image: url(../assets/imgs/lb.jpg);
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .logo {
        margin: 5rem 0 0rem;
    }
    .button {
        margin: 20px 0;
    }
    .get-start-btn {
        padding: 22px 40px;
        font-size: 18px;
    }
    .no-border.button {
        border: 0;
        font-size: 20px;
        text-transform: capitalize;
        padding: 0 55px;
        font-weight: bold;
        color: #000 !important;
        .button-inner {
            justify-content: flex-start;
        }
        ion-icon {
            background-color: #ffffff;
            border: 1px solid #ccc;
            padding: 10px;
            color: #000;
            border-radius: 50%;
            margin-right: 30px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }
}